html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Helvetica
}


#barInsight-tab-incomeAndExpense, #barInsight-tab-income,  #barInsight-tab-expense{
	color: black;
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#transactionsPage-tab-home, #transactionsPage-tab-allIncome,  #transactionsPage-tab-allExpenses{
	color: black;
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}


#__next > div > div > div.text-left.border-top.border-dark.row > div > p:nth-child(2) {
	 font-style: italic;
	 font-size: 0.8rem
}

#__next > div > div > div.text-left.border-top.border-dark.row > div > p:nth-child(1){
	font-size: 0.9rem
}

#__next > div > footer {
	font-size: 0.8rem
}

body > div.fade.modal.show > div > div,
#submitBtn,
#closeBtn,
body > div.fade.modal.show > div > div > div.modal-body > form > div:nth-child(1) > div > button,
#category,
#date,
#amount,
#description,
#__next > div > div > div > button,
#__next > div > nav > button,
body > div:nth-child(18) > div > div > div.modal-body > form > div.form-group > input
 {
	border-radius: 0;
}

#__next > div > div > div > div > div > div.border-0.margin-0.padding-0.col > div > form > div:nth-child(1) > label,
#__next > div > div > div > div > div > div.border-0.margin-0.padding-0.col > div > form > p
 {
  margin-bottom: 0;
}

#__next > div > div > div > div > div > div.border-0.margin-0.padding-0.col > div {
  padding: 1.8rem;
}

#password2,
#password1,
#userEmail,
#fName,
#lName
{
  font-size: .8rem;
}
